body {
  font-family: sans-serif;
  margin: 0;
  background: white; }
  body #time {
    font-size: 72px;
    line-height: 78px;
    margin-left: 8px;
    width: 186px;
    height: 78px;
    float: left; }
  body .work {
    color: #FF5252; }
  body .break {
    color: #4CAF50; }
  body .button {
    cursor: pointer;
    color: #212121; }
  body #start,
  body #pause,
  body #stop {
    border-radius: 20px;
    border: 0;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 16px;
    float: left; }
  body #clear {
    border-radius: 20px;
    border: 0;
    margin-left: 23px;
    font-weight: bold;
    position: absolute;
    top: 44px;
    height: 20px;
    width: 20px; }
  body .button:hover {
    background-color: lightgray; }
  body #start i {
    padding-left: 2px; }
  body #tomato {
    margin-top: 3px;
    margin-left: 9px;
    width: 24px; }
  body #counter {
    width: 100px;
    position: fixed;
    left: 229px;
    top: 46px;
    font-size: 16px; }
