body {
  font-family: sans-serif;
  margin: 0;
  background: white;

  #time {
    font-size: 72px;
    line-height: 78px;
    margin-left: 8px;
    width: 186px;
    height: 78px;
    float: left;
  }

  .work {
    color: #FF5252;
  }
  .break {
    color: #4CAF50;
  }

  #start,
  #pause,
  #stop {
    border-radius: 20px;
    border: 0;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 16px;
    color: #212121;
    float: left;
  }
  #start {
    i {
      padding-left: 2px;
    }
  }
}
